{% extends "dchatapp/base.html" %}

{% block content %}
<div id="chat" class="chat-container">
  <div class="main">
    <div class="logo">
      DChat
    </div>
   
    <div class="sub-main">
      <div class="main-user">
      </div>
    </div>
  </div>
 
  <div class="header">Login</div>

  <div class="login-container">

    <div class="settings">
      <div class="name">
        <form method="POST">
          {% csrf_token %}
          <input name="username" id="username" type="text" placeholder="Username">
          <input name="password" id="password" type="password" placeholder="Password">
          <button type="submit">Login</button>
        </form>
      </div>
    </div>
    <div class="message">
      {% if messages %}
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      {% endif %}
    </div>
  </div>
    
<script>
  let num = 0;

  function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  const csrftoken = getCookie('csrftoken');

  function changeNumber(){
    num++;
    if (num > 4){
      num = 0;
    }
    changeColor(num)
    sendNumber(num)
  }
  
  function changeColor(num){
    let body = document.getElementById("chat")
    switch (num){
      case 0:
        body.style.background = "linear-gradient(45deg, rgb(255, 255, 255) 0%, rgb(241, 255, 41) 35%, rgb(255, 0, 206) 100%)";
        break;
      case 1:
        body.style.background = "linear-gradient(45deg, rgb(186, 34, 34) 0%, rgb(44, 182, 76) 35%, rgb(31, 7, 165) 100%)";
        break;
      case 2:
        body.style.background = "linear-gradient(45deg, rgb(181, 186, 34) 0%, rgb(253, 114, 1) 35%, rgb(0, 234, 255) 100%)";
        break;
      case 3:
        body.style.background = "linear-gradient(45deg, rgb(62, 61, 130) 0%, rgb(131, 196, 138) 35%, rgb(158, 72, 72) 100%)";
        break;
      case 4:
        body.style.background = "linear-gradient(135deg, rgb(0, 255, 26) 0%, rgb(255, 0, 0) 50%, rgb(38, 0, 255) 100%)";
        break;
    }
    
  }

  function sendNumber(num){
    const data = { num: num };
    let url = "{% url 'change_num' %}"
    fetch(url, {
        method: 'POST',
        headers: { 
            'Content-Type' : 'application/json',
            'X-CSRFToken': csrftoken,
        },
        body: JSON.stringify(data)
    })
    .then(response => response.json())
    .then(data => {
        
    })
    .catch((error) => {
        console.error(error);
    })
  }
  
  
</script>
{% endblock %}
