{% extends "dchatapp/base.html" %}

{% block content %}
<div id="chat" class="chat-container">
    <div class="main">
      <div class="logo">
        DChat
      </div>
     
      <div class="sub-main">
        <div class="main-user">
          <img src="{{user.pic.url}}" alt="profile picture" />
        </div>
        <p>{{request.user.profile}}</p>
      </div>
    </div>
   
    <div class="header">Change name (20 character max)</div>
  
    <div class="friends-container">

      <div class="settings">
        <div class="name">
          <form id="name_form" method="POST">
            {% csrf_token %}
            <input id="new_name" type="text" placeholder="{{request.user.profile}}">
            <button type="submit">Change</button>
          </form>
        </div>
      </div>

    </div>
    <div id="success" style="display: none">
      Success!
    </div>
    <div id="error" style="display: none">
      Something went wrong!
    </div>
    <div id="long" style="display: none">
      Maximum 20 character name!
    </div>
    <div class="footer">
      <div>
        <a href=" {% url 'index' %} ">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="26"
          height="26"
          fill="currentColor"
          class="bi bi-person-plus"
          viewBox="0 0 16 16"
        >
        
        <path
        fill-rule="evenodd"
        d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"
      />
      <path
        fill-rule="evenodd"
        d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"
      />
        </svg>
      </div>
      </div>
  </div>

  <script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
    
    let form = document.getElementById("name_form")
    form.addEventListener("submit", changeName)

    function changeName(e){
      e.preventDefault()
      let url = "{% url 'change_name' %}"
      let new_name = document.getElementById("new_name").value
      let long_div = document.getElementById("long");
      let success_div = document.getElementById("success");
      let error_div = document.getElementById("error");
      if (new_name.length > 20){
        long_div.style.display = "inherit";
      }else{
        long_div.style.display = "none";
        success_div.style.display = "none";
        error_div.style.display = "none";
        const data = { name: new_name };
        fetch(url, {
            method: 'POST',
            headers: { 
                'Content-Type' : 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
          if (data == true){
            success_div.style.display = "inherit";
          }else{
            error_div.style.display = "inherit";
          }
          console.log(data);
        })
        .catch((error) => {
            console.error(error);
        })
      }
      
    }
    
  </script>
{% endblock %}
